<h1>Tarefas</h1>

<p><%= link_to 'Nova tarefa', new_task_path %></p>

<% @tasks.each do |task| %>
<table class="table">
  <tbody>
    <tr>
      <th><%= task.name %></th>
      <th>
        <%= link_to task_path(task) do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      </th>
    </tr>
  </tbody>
</table>
<% end %>
