<h1>Tarefas</h1>

<p><%= link_to 'Nova tarefa', new_task_path %></p>

<% @tasks.each do |task| %>
<table class="table">
  <tbody>
    <tr>
      <th><%= task.name %></th>
    </tr>
  </tbody>
</table>
<% end %>
